# _pandas_ Fundamentals Review

In this notebook, we'll review some of the `pandas` basic tools that you learned on DataCamp.

We'll be looking at a (modified version of a) dataset of house sales prices from King County, Washington between 2014 and 2015.

https://www.kaggle.com/harlfoxem/housesalesprediction

The procedure we follow in this notebook is what should be done any time you have a new dataset to familiarize yourself with it.

## Step 1: Reading in data and initial inspection/checking missing values and datatypes

In [3]:
import pandas as pd
import numpy as np

In [6]:
house_sales =pd.read_csv("/NSS/pandas_basics/data/kc_house_data.csv")

In [37]:
#house_sales.head()
#house_sales.tail()
#print(house_sales)
#house_sales.columns.values
#house_sales.isna().any()
house_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           20367 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       20704 non-null  float64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21593 non-null  float64
 6   sqft_lot       20070 non-null  float64
 7   floors         20862 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   19571 non-null  float64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(9), int64(11), object(1)
memory usage: 3.5+ MB

1.) sqft_living is an object (FIXED)
2.) waterfront is likely a boolean encoded as 0/1
3.) condition is categorical, multiple leves
4.) NaN values

In [39]:
#house_sales.waterfront.value_counts()
#pd.to_numeric(house_sales["sqft_living"])
house_sales["sqft_living"] = pd.to_numeric(house_sales.sqft_living, errors = 'coerce')

#house_sales.iloc[1363]
house_sales.loc[1363]
#house_sales.loc[1363, "sqft_living"]

id                    5556300102
date             20140714T000000
price                     933399
bedrooms                       3
bathrooms                    2.5
sqft_living                  NaN
sqft_lot                   10360
floors                         2
waterfront                     0
view                           0
condition                      3
grade                          9
sqft_above                  3110
sqft_basement                830
yr_built                    1992
yr_renovated                   0
zipcode                    98052
lat                      47.6468
long                    -122.116
sqft_living15               2720
sqft_lot15                 11941
Name: 1363, dtype: object

In [40]:
#house_sales.yr_renovated.value_counts()  #yr_renovated is 0 for not renovated???

0.0       18753
2014.0       81
2003.0       34
2000.0       32
2013.0       32
          ...
1950.0        2
1954.0        1
1959.0        1
1948.0        1
1934.0        1
Name: yr_renovated, Length: 67, dtype: int64

## Step 2: Take a closer look at the variables individually

## Step 3: Bivariate Analysis/Relationships Between Variables